html, body{
  background-color: rgb(36, 36, 36);
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  margin-top: 5rem;
}

a{
  text-decoration: none;
  color: rgb(44, 135, 255);
}

footer {
  margin-top: 5rem;
  background-color: #43474b;
  color: whitesmoke;
  font-size: small;
  padding: 10px;
}

footer img{
  width: 13rem;
  filter: brightness(0) invert(1);
}

footer p{
  color: rgb(165, 165, 165);
  margin-left: 16px;
  margin-right: 16px;
}

.page-info{
  text-align: justify;
  color: rgb(238, 255, 86);
}

.page-content{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}